/* Resetting styles and connecting fonts */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: OpenSans;
  font-style: normal;
}

@font-face {
  font-family: OpenSans;
  src: local("OpenSans"), url("../fonts/OpenSans-Bold.ttf") format("truetype"),
    url("../fonts/OpenSans-Regular.woff") format("woff"),
    url("../fonts/OpenSans-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: OpenSans;
  src: local("OpenSans"), url("../fonts/OpenSans-Bold.ttf") format("truetype"),
    url("../fonts/OpenSans-Bold.woff") format("woff"),
    url("../fonts/OpenSans-Bold.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
}

.page {
  margin: 0;
}

/* Header */

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  width: 100%;
  min-height: 449px;
  position: relative;
  background-image: url("../img/banner-bg.jpg");
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 1;
}

.header::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #000000;
  opacity: 0.6;
  z-index: -1;
}

.container {
  max-width: 1200px;
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  display: flex;
  justify-content: space-between;
}

.logo_header {
  margin-top: 29px;
  margin-left: 4px;
  width: 179px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.header_burger_btn {
  display: none;
  position: relative;
  width: 18px;
  height: 23px;
  border: none;
  background-color: transparent;
}

.header_burger_line {
  position: absolute;
  width: 19px;
  height: 3px;
  background-color: #ffffff;
  left: 5px;
}

.header_burger_line:nth-child(1) {
  transform: translateY(-8px);
}

.header_burger_line:nth-child(3) {
  transform: translateY(8px);
}

.menu_list {
  display: flex;
  list-style-type: none;
  margin-top: 36px;
}

.menu_item {
  margin-right: 35px;
}

.menu_item:last-child {
  margin-right: 0px;
}

.menu_link {
  text-decoration: none;
  color: #ffffff;
  font-size: 13px;
  text-transform: uppercase;
}

.menu_link:hover {
  text-decoration: underline;
}

.title-header {
  width: 100%;
  max-width: 700px;
  padding-bottom: 25px;
  margin: auto;
  font-weight: bold;
  text-align: center;
  font-size: 45px;
  line-height: 1.6;
  color: #ffffff;
  text-transform: uppercase;
}
/* News block */

.news_container {
  width: 100%;
}

.title_news {
  text-align: center;
  font-weight: bold;
  font-size: 20px;
  text-transform: uppercase;
  margin-top: 56px;
  margin-bottom: 30px;
}

.title_news::after {
  content: "";
  display: block;
  position: relative;
  margin-top: 7px;
  margin-left: auto;
  margin-right: auto;
  width: 66px;
  height: 4px;
  background-color: #e1d9bd;
}

.news_block {
  display: flex;
  justify-content: space-between;
}

.news_block_element {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  width: calc(25% - 4px);
  min-height: 320px;
  border-top: 1px solid #bbbdb5;
  border-bottom: 1px solid #bbbdb5;
  background-size: cover;
  z-index: 1;
}

.news_block_element::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #000000;
  opacity: 0.5;
  z-index: -1;
}

.news_block_element1 {
  background-image: url(../img/trend1.jpg);
}

.news_block_element2 {
  background-image: url(../img/trend2.jpg);
}

.news_block_element3 {
  background-image: url(../img/trend3.jpg);
}

.news_block_element4 {
  background-image: url(../img/trend4.jpg);
}

.news_block_container {
  box-sizing: border-box;
  width: 90%;
  border: 3px solid #776940;
  margin-bottom: 16px;
  padding: 35px;
}

.title_block_element {
  color: #ffffff;
  font-size: 20px;
  line-height: 1.2;
  margin: auto;
  text-transform: uppercase;
}

.title_block_element:hover {
  color: #b59f5b;
}

.link-title_block_element {
  text-decoration: none;
}

/* Основная часть (main and aside) */

.basic {
  max-width: 1200px;
  width: 100%;
  padding-top: 60px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.content {
  width: 70%;
}

.news {
  display: flex;
}

.news:nth-child(n + 2) {
  margin-top: 57px;
}

.travel_logo {
  margin-top: 3px;
  padding-right: 15px;
}

.content_article {
  width: 381px;
  padding-left: 15px;
}

.tags_article {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
}

.tags_link_article {
  margin-right: 20px;
  font-size: 14px;
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
  color: #b59f5b;
}

.tags_link_article:hover {
  text-decoration: underline;
}

.title_article {
  line-height: 1.1;
  margin-bottom: 29px;
}

.link_title_article {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 20px;
  color: #0f0d0e;
  letter-spacing: 0.1px;
}

.link_title_article:hover {
  color: #b59f5b;
}

.date_autor {
  display: flex;
  margin-bottom: 45px;
}

.card-date {
  font-size: 12px;
  margin-right: 13px;
  color: #909090;
}

.autor {
  font-size: 12px;
  font-weight: bold;
}

.text_article {
  font-size: 15px;
  line-height: 1.46;
  margin-bottom: 10px;
}

/* Aside */

.additional {
  width: 270px;
}

.news-post {
  display: flex;
  flex-direction: column;
}

.title_additional {
  margin-left: 2px;
  text-align: center;
  font-size: 14px;
  text-transform: uppercase;
  margin-bottom: 23px;
}

.title_additional::after {
  content: "";
  display: block;
  position: relative;
  margin-top: 7px;
  margin-left: auto;
  margin-right: auto;
  width: 66px;
  height: 4px;
  background-color: #e1d9bd;
}

.preview {
  display: flex;
  margin-top: 12px;
}

.logo_article {
  margin-top: 9px;
  margin-right: 19px;
  width: 70px;
  height: 70px;
}

.date-aside {
  font-size: 12px;
  color: #878787;
}

.link_article-post {
  text-decoration: none;
  color: #333333;
}

.link_article-post:hover {
  color: #b59f5b;
}

.title_head_article {
  margin-top: 1px;
  font-size: 14px;
  text-transform: uppercase;
  text-decoration: none;
}

.search {
  margin-top: 59px;
  margin-bottom: 59px;
  display: flex;
}

.field {
  padding-left: 16px;
  width: 100%;
  height: 48px;
  background: #f4f7f6;
  border: 1px solid #f4f7f6;
}

.field:focus {
  outline: 1px solid #b59f5b;
}

.button_search {
  cursor: pointer;
  width: 48px;
  height: 48px;
  background-color: #b59f5b;
  border: none;
}

.button_search:hover {
  background-color: #323232;
}

.logo_search {
  width: 18px;
}

.button_subscribe {
  cursor: pointer;
  margin-top: 19px;
  margin-left: 1px;
  margin-bottom: 57px;
  width: 100%;
  height: 50px;
  background-color: #b59f5b;
  border: none;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
}

.button_subscribe:hover {
  background-color: #323232;
}

.tag_section {
  margin-top: 29px;
  margin-bottom: 45px;
  margin-left: 6px;
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
}

.tag_item {
  margin-right: 13px;
  margin-bottom: 15px;
  padding-left: 11px;
  padding-right: 10px;
  outline: 3px solid #eeeeee;
  outline-offset: 1px;
}

.tag_item:hover {
  outline: 3px solid #b59f5b;
}

.tag {
  text-decoration: none;
  color: #0f0d0e;
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.3px;
}

.last_title {
  margin-bottom: 11px;
}

.section-theme {
  list-style-type: none;
}

.chapter-theme {
  display: flex;
  align-items: center;
  min-height: 47px;
  margin-left: 1px;
  border-bottom: 1px solid #eeeeee;
}

.item_theme {
  text-decoration: none;
  font-weight: bold;
  font-size: 14px;
  color: #000000;
}

.item_theme:hover {
  color: #b59f5b;
}

.theme-numbers {
  font-size: 12px;
  font-weight: bold;
  vertical-align: super;
  color: #b59f5b;
}

/* Shop */

.shop {
  max-width: 1200px;
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.shop_container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.shop_section {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  max-width: 347px;
}

.markup_shop_section {
  margin-top: -36px;
  padding-top: 48px;
  padding-left: 18px;
  padding-right: 20px;
  min-height: 267px;
  display: flex;
  flex-direction: column;
  border: 3px solid #d3c59d;
}

.title_shop_section {
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
  color: #0f0d0e;
}

.description_shop_section {
  margin-top: 5px;
  font-size: 15px;
  line-height: 1.4;
  color: #0f0d0e;
}

.link_shop_section {
  text-decoration: none;
  color: #b59f5b;
}

.link_shop_section:hover {
  text-decoration: revert;
}

.block_price_shop {
  display: flex;
  flex-direction: column;
  align-self: flex-end;
}

.promo-price_shop_section {
  margin-top: 3px;
  font-size: 14px;
  font-weight: bold;
  color: #0f0d0e;
  text-decoration: line-through;
}

.price_shop_section {
  font-size: 20px;
  font-weight: bold;
  color: #0f0d0e;
}

.sale_shop_section {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}

.button_shop_section {
  width: 138px;
  height: 50px;
  font-size: 14px;
  font-weight: bold;
  color: #ffffff;
  text-transform: uppercase;
  background-color: #b59f5b;
  border: none;
  cursor: pointer;
}

.button_shop_section:hover {
  background-color: #323232;
}

.link-button_shop_section {
  text-decoration: none;
  color: #ffffff;
}

/* Popup */

.popup {
  display: flex;
  display: none;
  justify-content: center;
  align-items: center;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.5);
}

.popup_content {
  position: relative;
  display: flex;
  flex-direction: column;
  max-width: 390px;
  width: 100%;
  min-height: 590px;
  padding-left: 30px;
  padding-right: 30px;
  background-color: #fff;
}

.popup_close {
  position: absolute;
  background-color: transparent;
  border: none;
  top: -46px;
  right: -4px;
  color: #fff;
  font-size: 40px;
  cursor: pointer;
}

.popup_title {
  text-align: center;
  font-weight: bold;
  font-size: 20px;
  text-transform: uppercase;
  margin-top: 44px;
  margin-bottom: 25px;
}

.popup_title::after {
  content: "";
  display: block;
  position: relative;
  margin-top: 7px;
  margin-left: auto;
  margin-right: auto;
  width: 66px;
  height: 4px;
  background-color: #e1d9bd;
}

.popup_question {
  font-size: 13px;
  color: #444444;
  padding-right: 7px;
}

.popup_list {
  -webkit-appearance: none;
  -moz-appearance: none;
  background-image: url(../svg/form-arrows.svg);
  background-position: right 14px center;
  background-repeat: no-repeat;
  background-size: 10px;
  background-color: #f4f7f6;
  margin-top: 10px;
  margin-bottom: 36px;
  padding-left: 17px;
  border: none;
  height: 40px;
  color: #818382;
}

.popup_list:focus {
  outline: 1px solid #b59f5b;
}

.popup_radio {
  display: flex;
  flex-direction: column;
}

.popup_radio-conteiner {
  margin-top: 3px;
  margin-bottom: 28px;
}

.popup_radio-group {
  display: none;
}

.popup_text-radio {
  font-size: 13px;
  margin-right: 9px;
}

.popup_text-radio::before {
  content: "";
  display: inline-block;
  width: 20px;
  height: 20px;
  background-image: url("../svg/form-empty-circle.svg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100%;
  vertical-align: middle;
  margin-right: 3px;
}

.popup_radio-group:checked + .popup_text-radio::before {
  background-image: url("../svg/form-circle.svg");
}

.popup_textarea {
  resize: none;
  margin-top: 5px;
  padding-top: 19px;
  padding-left: 21px;
  border: none;
  background-color: #f4f7f6;
  height: 100px;
}

.popup_textarea:focus {
  outline: 1px solid #b59f5b;
}

.popup_button {
  cursor: pointer;
  margin-top: 59px;
  height: 50px;
  background-color: #b59f5b;
  border: 1px solid #b59f5b;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  border: none;
}

.popup_button:hover {
  background-color: #323232;
}

/* Footer */

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 67px;
  position: relative;
  max-width: 1200px;
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.icon {
  max-width: 1170px;
  width: 100%;
  padding-left: 30px;
  padding-right: 30px;
  height: 83px;
  background-color: #f4f7f6;
}

.social {
  width: 50px;
}

.social-link {
  width: 24px;
  height: 24px;
  background-repeat: no-repeat;
  background-size: 20px;
  background-position: center;
}

.social-link-dribbble {
  background-image: url("../svg/001-dribbble.svg");
  position: absolute;
  left: 45.3%;
  top: 17%;
}

.social-link-printerest {
  background-image: url("../svg/002-pinterest.svg");
  position: absolute;
  left: 49.3%;
  top: 16.8%;
}

.social-link-tumblr {
  background-image: url("../svg/003-tumblr.svg");
  position: absolute;
  left: 53%;
  top: 17.3%;
}

.social-item {
  list-style-type: none;
}

.title-footer {
  font-size: 12px;
  font-weight: bold;
  color: #999999;
  text-decoration: none;
  margin-top: 67px;
  margin-left: 10px;
}

@media (min-width: 768px) and (max-width: 1200px) {
  /* Header Tablet */

  .header {
    background-image: url("../img/banner-bg-tablet.jpg");
    min-height: 390px;
  }

  .container {
    margin-top: 42px;
    flex-direction: row-reverse;
    align-items: center;
  }

  .header_burger_btn {
    display: block;
    width: 22px;
    margin-right: 24px;
  }

  .logo_header {
    margin-top: 0;
    margin-left: 18px;
    width: 22%;
  }

  .menu {
    display: none;
  }

  .title-header {
    width: 85%;
    font-size: 40px;
    line-height: 1.375;
  }

  /* News Tablet */

  .title_news {
    font-size: 18px;
    margin-top: 45px;
    margin-bottom: 21px;
  }

  .news_block {
    flex-wrap: wrap;
    gap: 3px;
  }

  .news_block_element {
    min-height: 247px;
    width: calc(50% - 1.5px);
    background-position: bottom;
  }

  .news_block_container {
    padding: 30px;
  }

  .tags_article {
    margin-bottom: 2px;
  }

  .image_news_block {
    object-position: bottom;
  }

  .title_block_element {
    font-size: 17px;
    line-height: 1.3;
  }

  /* Content Tablet*/

  .basic {
    padding-top: 44px;
    padding-left: 34px;
    padding-right: 20px;
  }

  .content {
    width: 56%;
  }

  .news {
    flex-direction: column;
  }

  .news:nth-child(n + 2) {
    margin-top: 43px;
  }

  .travel_logo {
    margin-bottom: 11px;
    padding-right: 7px;
  }

  .title_article {
    line-height: 1;
  }

  .link_title_article {
    font-size: 17px;
  }

  .date_autor {
    margin-bottom: 30px;
  }

  .content_article {
    padding-left: 0;
    width: 100%;
    border-bottom: 3px solid #eeeeee;
  }

  .text_article {
    margin-bottom: 13px;
    width: 97.7%;
  }

  .additional {
    margin-right: 18px;
  }

  .shop {
    padding-left: 35px;
    padding-right: 33px;
  }

  .shop_section {
    margin-top: 5px;
    margin-bottom: 22px;
    width: 48.4%;
  }

  .markup_shop_section {
    min-height: 260px;
  }

  .title_shop_section {
    font-size: 17px;
  }

  /* Popup Tablet */

  .popup_content {
    min-height: 595px;
  }

  .popup_close {
    font-size: 65px;
    top: -71px;
  }

  .popup_title {
    font-size: 18px;
    margin-top: 48px;
  }

  .popup_question {
    font-size: 13px;
  }

  .popup_radio-conteiner {
    margin-top: 10px;
  }

  .popup_text-radio {
    margin-right: 33px;
  }

  .popup_text-radio::before {
    width: 25px;
    height: 25px;
  }

  /* Footer Tablet */

  .footer {
    margin-top: 14px;
  }

  .social-link-dribbble {
    left: 42.5%;
  }

  .social-link-printerest {
    left: 49%;
  }

  .social-link-tumblr {
    left: 55%;
  }

  .title-footer {
    margin-top: 45px;
  }

  @media (orientation: landscape) {
    .header {
      background-position: bottom;
    }

    .news_block_element {
      width: calc(25% - 3px);
    }
  }
}

@media (max-width: 767px) {
  /* Header mobile */

  .header {
    min-height: 639px;
    background-image: url("../img/banner-mobile.jpg");
  }

  .container {
    flex-direction: column;
    align-items: center;
  }

  .header_burger_btn {
    display: block;
    margin-left: auto;
    margin-right: 9px;
    margin-top: 28px;
  }

  .logo_header {
    margin-top: 173px;
    width: 82%;
  }

  .menu_list {
    display: none;
  }

  .title-header {
    margin-top: 34px;
    width: 100%;
    padding-left: 7px;
    font-size: 26px;
    line-height: 1.4;
  }

  /* News mobile */

  .title_news {
    font-size: 16px;
    margin-top: 39px;
    margin-bottom: 22px;
  }

  .news_block {
    flex-direction: column;
  }

  .news_block_element {
    width: 100%;
    min-height: 233px;
    margin-bottom: 1px;
    background-position: bottom;
  }

  @media (orientation: landscape) {
    .news_block {
      flex-direction: row;
      flex-wrap: wrap;
      gap: 1px;
    }

    .news_block_element {
      width: calc(50% - 2px);
    }
  }

  /* .image_news_block {
    object-position: bottom;
  } */

  .news_block_container {
    padding: 0px;
    padding-left: 18px;
    padding-top: 18px;
    padding-bottom: 28px;
    margin-bottom: 14px;
    width: 91%;
  }

  .title_block_element {
    font-size: 16px;
    margin-top: 8px;
    padding-right: 28px;
  }

  /* Main mobile */

  .basic {
    /* width: 100%;
    flex-direction: column; */
    padding-top: 40px;
  }

  .content {
    width: 100%;
  }

  .news {
    width: 100%;
    flex-direction: column;
    border-bottom: 3px solid #eeeeee;
  }

  .news:nth-child(n + 2) {
    margin-top: 29px;
  }

  .travel_logo {
    padding-right: 0;
  }

  .content_article {
    width: 100%;
    padding-left: 0;
  }

  .tags_article {
    margin-top: 8px;
  }

  .tags_link_article {
    font-size: 14px;
  }

  .title_article {
    line-height: 0.9;
    margin-top: 1px;
    margin-bottom: 20px;
  }

  .link_title_article {
    font-size: 16px;
  }

  .date_autor {
    margin-bottom: 14px;
  }

  .card-date {
    font-size: 12px;
  }

  .autor {
    font-size: 12px;
  }

  .text_article {
    font-size: 14px;
    padding-right: 3px;
    margin-bottom: 18px;
  }

  /* Aside mobile */

  .additional {
    width: 100%;
    padding-top: 41px;
  }
  .title_additional {
    font-size: 16px;
  }

  .search {
    margin-bottom: 42px;
  }

  .field {
    width: 100%;
  }

  .button_subscribe {
    width: 100%;
    margin-bottom: 35px;
  }

  .tag_section {
    margin-left: 0;
    margin-bottom: 28px;
  }

  /* Shop Mobile */

  .shop_container {
    flex-direction: column;
    align-items: center;
  }

  .shop_section {
    margin-top: 6px;
    margin-bottom: 19px;
    max-width: 327px;
    min-height: 474px;
  }

  .markup_shop_section {
    padding-left: 15px;
    min-height: 220px;
  }

  .markup_shop_section-item2 {
    min-height: 262px;
  }

  .markup_shop_section-item3 {
    min-height: 237px;
    padding-right: 16px;
  }

  .title_shop_section {
    font-size: 17px;
  }

  /* Popup Mobile */

  .popup_content {
    max-width: 330px;
    min-height: 540px;
    padding-left: 22px;
    padding-right: 25px;
  }

  .popup_close {
    font-size: 60px;
    top: -62px;
  }

  .popup_title {
    font-size: 16px;
    margin-top: 22px;
  }

  .popup_question {
    font-size: 13px;
  }

  .popup_radio-conteiner {
    margin-top: 10px;
  }

  .popup_text-radio {
    margin-right: 33px;
  }

  .popup_text-radio::before {
    width: 25px;
    height: 25px;
  }

  /* Footer Mobile */

  .footer {
    width: 100%;
    margin-top: 25px;
  }

  .icon {
    width: 100%;
  }

  .social-link-dribbble {
    left: 34.3%;
    top: 20%;
  }

  .social-link-printerest {
    left: 47.3%;
    top: 19.8%;
  }

  .social-link-tumblr {
    left: 60%;
    top: 19.3%;
  }

  .title-footer {
    margin-top: 47px;
  }
}